/.vs
/.vscode
/belajar.cpp
/berat_ideal.exe
/big_S.exe
/convert_dog_age.exe
/currency.exe
/C_to_F.exe
/latihna_1.cpp
/latihna_1.exe
/num.exe
/num.hpp
/Project1
/quadratic_formula.exe
/random_fortune.exe
/rock_paper_gunting.cpp
/rock_paper_gunting.exe
/sorting-hat.exe
/test.c
/test.cpp
/test.exe
/test.js
Pengelolaan daftar tugas/task_list.cpp
